<!-- inspect_series.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - Add Series</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='file_manager.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='js/add_series.js') }}"></script>
    <meta name="theme-color" content="#121212">
</head>
<body>
    <div class="profile-container">
        {% if read_online_link != "Unavailable" %}
            <div class="header">
                <h1>{{ series_name }}</h1>
                <div class="action-buttons">
                    <a href="{{ url_for('file_manager.add_series_to_download_list', series_name=series_name, read_online_link=read_online_link, type=type, description=description) }}" class="btn">Download</a>
                    <a href="{{ url_for('file_manager.add_series') }}?search={{ search.replace(' ', '+') }}&manga=on&comic=on" class="btn">Back to Search</a>
                </div>
            </div>

            {% if type == 'manga' %}
                <div class="series-details">
                    <div class="image-container">
                        <img src="{{ url_for('file_manager.proxy_image', image_url=series_image) }}" alt="{{ series_name }}" class="result-inspect-image">
                    </div>
                    <div class="text-container">
                        <p><strong>Chapters:</strong> {{ series_chapters }}</p>
                        <p><strong>Genres:</strong> {{ series_genres | join(', ') }}</p>
                        <p><strong>Description:</strong> {{ description }}</p>
                        <p><strong>Type:</strong> {{ series_type }}</p>
                    </div>
                </div>
            {% else %}
                <div class="series-details">
                    <div class="image-container">
                        <img src="{{ url_for('file_manager.proxy_image', image_url=series_image) }}" alt="{{ series_name }}" class="result-inspect-image">
                    </div>
                    <div class="text-container">
                        <p><strong>Year:</strong> {{ series_genres | join(', ') }}</p>
                        <p><strong>Description:</strong> {{ description }}</p>
                        <p><strong>Type:</strong> {{ series_type }}</p>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="header">
                <h1>{{ series_name }} is {{ read_online_link }} for download</h1>
                <div class="action-buttons">
                    <a href="{{ url_for('file_manager.add_series') }}?search={{ search.replace(' ', '+') }}&manga=on&comic=on" class="btn">Back to Search</a>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
